/* ================= GLOBAL ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* ================= CONTAINER ================= */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

/* ================= HEADER ================= */

/* Default Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px 0;
  background: transparent;
  transition: all 0.4s ease;
  z-index: 10000;
}

/* Scroll Active Header */
.header.scrolled {
  background: #ffffffb3;
  /* glass white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo img {
  width: 24px;
}

/* ================= MENU ICON ================= */

.menu-toggle {
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 10001;
}

.menu-toggle span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  left: 0;
  transition: all 0.4s ease;
}

.menu-toggle span:nth-child(1) {
  top: 0;
}

.menu-toggle span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-toggle span:nth-child(3) {
  bottom: 0;
}

/* X Animation */

.menu-toggle.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg);
}

/* ================= NAV OVERLAY ================= */

.nav-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  transform: translateY(-100%);
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  z-index: 9999;
}

.nav-overlay.active {
  transform: translateY(0);
}

.nav-overlay .container {
  width: 100%;
}

/* ================= NAV MENU ================= */

.nav-menu ul {
  list-style: none;
  padding-left: 0;
}

.nav-menu li {
  display: flex;
  align-items: center;
  font-size: 60px;
  font-weight: 500;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.nav-menu li span {
  width: 70px;
  font-size: 14px;

}

/* Underline Animation */

.nav-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav-menu li:hover::after {
  width: 100%;
}



/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .nav-menu li {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .nav-menu li {
    font-size: 32px;
  }
}



/* ================= HERO SECTION ================= */

.hero {
  padding: 120px 0 0;
  background: #ffffff;
  overflow: hidden;
}

.hero-section {
  position: relative;
}

/* Vertical Side Text */

.side-text {
  position: absolute;
  left: -60px;
  top: 200px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 14px;
  letter-spacing: 4px;
}

/* Title Area */

.hero-top {
  text-align: center;
  margin-bottom: 60px;
}

.hero-title {
  font-size: 12em;
  font-weight: 700;
  letter-spacing: -2px;
}

.hero-title span {
  font-size: 100px;
  vertical-align: top;
}

.hero-sub {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {
  .hero-title {
    font-size: 170px;
  }

  .slide {
    min-width: 220px;
    height: 320px;
  }
}

@media (max-width: 700px) {
  .hero-title {
    font-size: 100px;
  }

  .hero-sub {
    font-size: 16px;
  }

  .hero-title span {
    font-size: 50px;
  }

  .side-text {
    display: none;
  }


}


/* ================= swiper slider ================= */


.hero-slider {
  padding: 0px;
  /* position: relative; */
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0;
}

/* SLIDER */
.slider {
  overflow: hidden;
}

.slide-track {
  display: flex;
  gap: 10px;
  width: max-content;
  animation: scroll 35s linear infinite;
}

/* CONTINUOUS LOOP */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* SLIDES */
.slide {

  width: 180px;
  height: 400px;
  flex-shrink: 0;
  overflow: hidden;
  gap: 0px;

}

/* IMAGE STYLE */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ALTERNATE CURVE SHAPE */
.slide:nth-child(odd) img {
  border-radius: 120px 0 0 0;
}

.slide:nth-child(even) img {
  border-radius: 0 120px 0 0;
}



/* 🌑 LEFT RIGHT SHADING (IMPORTANT) */
.shade {
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.shade.left {
  left: 0;
  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}

.shade.right {
  right: 0;
  background: linear-gradient(to left, #ffffff 0%, transparent 100%);
}


.side-text {

  height: 120px;
  position: absolute;
  left: 0px;
  top: 160px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
}


/* ================= BRAND SECTION ================= */

.brand-section {
  padding: 120px 0;
  text-align: center;
}

/* TEXT */

.brand-text h2 {
  font-size: 47px;
  font-weight: 600;
  line-height: 53px;
  max-width: 700px;
  margin: 0 auto 50px;
}

/* LOGO SLIDER */

.logo-slider {
  overflow: hidden;
  width: 50%;
  margin-left: 25%;

}

.logo-track {
  display: flex;
  width: max-content;
  animation: infiniteScroll 20s linear infinite reverse;
  animation-delay: -5s;
  /* half cycle se start */

}

/* LOGO */
.logo-item {
  flex: 0 0 auto;
  padding: 0 40px;
}

.logo-item img {
  height: 25px;
  opacity: 0.6;
  transition: 0.3s;
}

/* KEYFRAME (IMPORTANT) */
@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* responsive */

@media (max-width: 992px) {

  .brand-section {
    padding: 100px 0;
  }

}

@media (max-width: 600px) {

  .brand-text h2 {
    font-size: 37px;
    line-height: 1.2em;
    font-weight: 500;
  }

}


/* ================= Latest Projects grid section================= */


/* Section */
.projects {
  padding: 80px 0;

}

.projects .container {
  width: 80%;

  margin: auto;
}

.section-header h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Card */
.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  height: 80vh;
  object-fit: cover;
}

/* Image */
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.4s ease;
}

/* Hover Layer */
.hover-layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.12);
  opacity: 0;
  transition: 0.4s ease;
}

/* Small SVG */
.hover-logo {
  width: 150px;
  height: auto;
  opacity: 0;
  transition: 0.4s ease;
}

/* Hover Effects */
.project-card:hover .project-image {
  filter: blur(5px);

}

.project-card:hover .hover-layer {
  opacity: 1;
}

.project-card:hover .hover-logo {
  opacity: 1;
}

/* Responsive */
@media (max-width: 992px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .projects {
    padding: 0px 0;
  }
}

@media (max-width: 600px) {
  .section-header h2 {
    font-size: 35px;
  }
}


/* ================= Services ================= */


.services {
  padding: 50px 0;
}

.services .container {
  width: 80%;

}

.services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.services-header h2 {
  font-size: 56px;
  font-weight: 600;
}

.contact-link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.services-slider {
  position: relative;
}

.servicesSwiper {
  overflow: hidden;
}

/* Cards */
.card {
  border-radius: 45px;
  padding: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  background: #bfe6a9;
}

.pink {
  background: #e7b2b2;
}

.beige {
  background: #e6c796;
}

.top {
  font-size: 14px;
  letter-spacing: 2px;
}

.icon {
  align-items: center;
  margin: auto;
}

.bottom h4 {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.bottom p {
  font-size: 15px;
  line-height: 1.6;
}

/* Navigation Buttons */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  z-index: 5;
}

.prev {
  left: -30px;
}

.next {
  right: -30px;
}

/* Right Fade Effect */
.fade-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 800px;
  height: 100%;
  background: linear-gradient(92deg, #fff0, #fff0 12.5% 87.5%, #fff);
  z-index: 2;
  pointer-events: none;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  width: calc((100% - 10px) / 3);
}


/* Responsive */

@media (max-width: 800) {
  .swiper-slide {
    width: calc((100% - 0px) / 1);
  }
}



/* Responsive */


@media (max-width: 600px) {
  .services-header h2 {
    font-size: 35px;

  }
}

/* ================= Video ================= */



.about-video {
  padding: 100px 0;
}

.about-video .container {
  width: 80%;
  margin: auto;
}

/* Top Text */
.about-text p {
  font-size: 48px;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 900px;
  font-weight: 500;
}

/* Video Box */
.video-wrapper {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.video-thumb {
  width: 100%;
  display: block;
}

/* Center Play Button */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  /* white bg */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s ease;
}

/* Play Button */
.play-icon {
  width: 28px;
  height: auto;
}

.play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background: #ffffff;
}

/* Stats */



.stats {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 50px;

}



.stat h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.stat p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

/* Responsive */


@media (max-width: 800px) {
  .stats {
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 180px;
    width: 80%;
  }

  .stat {
    width: 46%;
  }

  .about-video {
    padding: 0 0;
  }
}

@media(max-width:600px) {

  .about-text p {
    font-size: 37px;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
  }

}


@media (max-width:480px) {
  .stats {
    gap: 30px;
    flex-wrap: wrap;
    padding-left: 0px;
    width: 100%
  }

  .stat {
    width: 100%;
    text-align: center;
  }

}




/* ================= Testimonials ================= */


.testimonials {
  padding: 70px 0;
}

.testimonials .container {
  width: 80%;
  margin: auto;
}

.section-title {
  text-align: center;
  margin-bottom: 80px;
}

.section-title small {
  letter-spacing: 2px;
  font-size: 14px;
  color: #000;
}

.section-title h2 {
  font-size: 48px;
  margin-top: 10px;
  font-weight: 400;
}

/* Sticky Wrapper */
.sticky-wrapper {
  position: relative;
}

/* Cards */
.testimonial-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  overflow: hidden;
  background: #dcdde1;
  margin-bottom: 100px;

  position: sticky;
  top: 100px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content p {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 30px;
  font-weight: 600;
}

.p-1 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.p-2 {
  margin-top: 10px;
  font-size: 18px;
  color: #5A6271;
  font-weight: 500;
}


.testimonial-card:nth-child(1) {
  z-index: 1;
}

.testimonial-card:nth-child(2) {
  z-index: 2;
}

.testimonial-card:nth-child(3) {
  z-index: 3;
}


/* Responsive */

@media (max-width:800px) {
  .testimonial-card {
    grid-template-columns: 1fr;
  }

  .card-content {
    padding: 30px;
  }

  .testimonials {
    padding: 0px 0;
  }
}

@media(max-width:600px) {
  .section-title h2 {
    font-size: 37px;
    line-height: 1.2em;
    font-weight: 500;
  }
}


/* ================= Faq ================= */

.faq-section {
  padding: 0;
}

.faq-section .container {
  width: 80%;

  margin: auto;
}

.faq-grid {
  display: flex;
  justify-content: space-between;
  gap: 35%;
}

/* Left */
.faq-left h2 {
  font-size: 60px;
  font-weight: 500;
}

/* Right */
.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  width: 70%;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0;
  color: #000;
}

.faq-icon {
  font-size: 18px;
  transition: 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer p {
  margin-top: 15px;
  color: #555;
  line-height: 1.6;
}

/* Active State */
.faq-item.active .faq-answer {
  max-height: 300px;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}



/* Responsive */

@media (max-width: 800px) {

  .faq-grid {
    flex-wrap: wrap;
  }

  .faq-item {
    width: 100%;
    padding: 30px 0;
  }

  .faq-section {
    padding: 0 0;
  }

}


@media(max-width:600px) {
  .faq-left h2 {
    font-size: 37px;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center !important;
  }
}



/* ================= post ================= */

.dispatch {
  padding: 120px 0;

}

.dispatch .container {
  width: 80%;

}

/* HEADER FLEX */
.dispatch-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.dispatch-header h2 {
  font-size: 60px;
  /* line-height: 1.1; */
  font-weight: 500;
}

.dispatch-link {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

/* CARDS ROW FLEX */
.dispatch-row {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* CARD */
.dispatch-card {
  flex: 1;
  min-width: 280px;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  transition: 0.3s ease;
}

.post-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.post-content {
  padding: 20px;
}

.date {
  font-size: 13px;
  color: #777;
  display: block;
  margin-bottom: 10px;
}

.post-content h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

/* HOVER */
.dispatch-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}



@media (max-width: 425px) {
  .dispatch-header h2 {
    font-size: 37px;
    line-height: 1.2em;
    font-weight: 500;
  }
}

/* ================= Footer ================= */

.site-footer {
  background-color: #EEF0F6;
  padding-top: 120px;
  padding-bottom: 35px;
}

.site-footer .container {
  width: 100%;
  margin: 0;

}

/* Top Section */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 35%;
  margin-bottom: 120px;
}

/* Left */
.footer-left {
  flex: 1;
}

.footer-left h2 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-left h2 span {
  color: #6b7280;
}


.footer-email {
  position: relative;
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-size: 28px;
  padding-bottom: 5px;
}

.footer-email::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 40px;
  height: 2px;
  border-bottom: none;
  background: #000;
  transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.footer-email:hover::after {
  width: 180px;

}


/* Right */
.footer-right {
  flex: 1;
}

.footer-right h3 {
  font-size: 42px;
  margin-bottom: 10px;
}

.newsletter-sub {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

/* Form */
.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.newsletter-form input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
  background: transparent;
  font-size: 16px;
  outline: none;
}

.newsletter-form button {
  margin-top: 20px;
  background: #111;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.newsletter-form button:hover {
  background: #000;
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-credit {
  font-size: 14px;
  color: #777;
}


/* Responsive */


@media (max-width: 992px) {
  .footer-top {
    flex-direction: column;
    gap: 60px;
  }

  .footer-right h3 {
    font-size: 32px;
  }

  .footer-left h2 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

}




